__pycache__/
build/
dist/
*.egg-info/
.pytest_cache/

# pyenv
.python-version

# pytest
test.properties

# Environments
.env
.venv
videos

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# JetBrains
.idea/

/coverage.xml
/.coverage
output_logs
config.json
